
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #cfecf7;" >  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center "> Choose </h1>
    
    



    <h1 class=" display-6 text-center"> a </h1>

   


    <h1 class="display-4 text-center"> Continent! </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Category</b> <!--Change this to buttons that can link to html pages for each continent? Tags?-->
          <p> Pick a continent to view posts tagged for said continent and states within. <p> </p></p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1>Africa</h1>
          <img src="/static/Africa.png" class="d-block mx-auto" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <h1>Antartica</h1>
          <img src="/static/Antartica.png" class="d-block mx-auto" alt="..."  height="500" >
        </div>
        <div class="carousel-item">
          <h1>Asia</h1>
          <img src="/static/Asia.png" class="d-block mx-auto" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <h1>Australia</h1>
          <img src="/static/Australia.png" class="d-block mx-auto" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <h1>Europe</h1>
          <img src="/static/Europe.png" class="d-block mx-auto" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <h1>North America</h1>
          <img src="/static/NA.png" class="d-block mx-auto" alt="..." height="500">
        </div>
        <div class="carousel-item">
          <h1>South America</h1>
          <img src="/static/SA.png" class="d-block mx-auto" alt="..." height="500">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="background-color:black">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="background-color:black">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>




    
    


    

    {% endblock %}