{% extends 'base.html' %}

{% block body %}
<img src="/static/stars.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/stars.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<div class="row">
    <div class="col" style="text-align: center;">
        <a href="/post/new" class="btn btn-primary btn-sm mt-5" role="button">Add a post here</a>
    </div>
</div>

{% if posts %}
    {% for post in posts %}
        <div class="container row border-bottom" style="text-align: center;">
            <div class="col-2" style="text-align: center;">
                {% if loop.index == 1 %}
                <h3 class="display-5 text-center">Date</h3>
                {% endif %}

                <a href="/post/{{post.id}}" style="text-align: center;">
                    {{moment(post.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2" style="text-align: center;">
                {% if loop.index == 1 %}
                <h3 class="display-5 text-center">User</h3>
                {% endif %}
                {{post.author.fname}} {{post.author.lname}}
            </div>
            <div class="col" style="text-align: center;">
                {% if loop.index == 1 %}
                    <h3 class="display-5 text-center">Subject</h3>
                {% endif %}
                {{post.subject}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}